[Desktop Entry]
Encoding=UTF-8
Name=Link to here
Type=Link
URL=https://www.godlikeproductions.com/forum1/message5073653/pg1?regp=bm9fMTY0Njc1NDYxNA==
Icon=text-html
