#gameblock #container{
    width: 300px; display: inline-block;
}
#gameblock .platform-logo{
     display: inline-block;vertical-align: top;margin:7%;
}
#gameblock .platform-logo img{
    max-width:300px!important;
}
#gameblock #container .score_block {
    width: 300px;
}
#variationblock #container{
    background-color: rgb(248, 241, 195);
    width: 48%; display: inline-block;
    vertical-align:top;
    min-height:500px;
    font-size: 15px;
}
#variationblock #container .blocktitle{
    white-space: pre-line;
}

#variationblock #container .score_block{
    float:none!important;
    padding: 0px!important;
    margin-left:100px!important;
}
#variationblock #container .score_block .widget_content{
    background-color: #fff;
}
#variationblock #container .score_block:nth-child(n) {
    float: none !important;
    margin: auto;
    margin-left:100px!important;
}
#variationblock #container .score_block:nth-child(n) {
    float: none !important;
    margin: auto;
    margin-left:100px!important;
}
#container .score_block:nth-child(n) {
    float: left !important;
    margin-left: 0 !important;
}
#container .score_block:nth-child(n) {
    float: left !important;
    margin-left: 0 !important;
}

.profile_content{
    margin-right: 240px!important;
}
#container {
    margin-bottom: 3em;
    padding: 17px 0;
    font-weight: bold;
    font-size: 20px;
}
#container .blocktitle{
    /*white-space: nowrap;*/
}
#view-score #container .score_block {
    margin: 5px!important;
    width: 293px!important;
}
#container .widget_post_bit:first-child a{
    color:black;
}
#container .detail .widget_post_bit:first-child {
    font-size: 50px;
    height: 150px;
}
#container .detail .widget_post_bit:first-child .meta{
    font-size:50px;
}
#container .detail .widget_post_bit:first-child a{
    font-size:50px;
}
#container .detail .widget_post_bit:first-child img{
    min-width:100px;
    width:100px;
    min-height: 100px;
    height: 100px;
}
#container .detail .widget_content .meta {
    font-size: 25px;
}
#container .formcontrols .blocksubhead {
    background: #000;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
    padding: 6px 12px;
    line-height: 30px;
    height: 30px;
    color:#fff;
}
#container .score_block {
    box-shadow: -2px 2px 2px #c8c8c8;
    float: left;
    margin: 10px 50px;
    width: 345px;
}
#container .score_block:nth-child(1n) {
    float:left!important;
    margin-left: 0px!important;
}
#container .score_block:nth-child(3n) {
    float:left!important;
    margin-right: 0px!important;
}
#container .detail.score_block{
    width:100%;
}
#container #score_block {
    display: inline-block;
    width: 100%;
}
#container .block {
    margin-bottom: 4px;
    padding: 0px;
    text-align: center;
    margin-top:5px;

}
#container .block.smaller {
    margin-bottom: 0;
    padding: 0;
    border: 1px solid #1c387f;
}
#container a.collapse {
    position: static;
}
#container .blocksubhead img {
    float: left;
    vertical-align: middle;
}
#container .blocksubhead {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #424242;
    font-size: 13px;
    font-weight: bold;
    height: 16.76px;
    outline: medium none;
    padding: 5px 6px;
}
#container .blockhead {
    background: #1c387f;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#container .blocksubhead {
    padding: 2px 6px;
}
.blockbody {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid #dadada;
    color: #111;
    padding: 0;
}
#player_index {
    background: none;
}
#container .widget_content {
    border: 1px solid #dadada;
    color: #424242;
    padding: 2px 6px;
}
#container .blockrow {
    background: rgb(255, 255, 255) url("images/gradients/gradient-black-down.png") repeat-x scroll 0 0;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 10px 6px;
    text-align: left;
    font-weight: bold;
}
#container .detail .widget_post_bit {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #c9c9c9;
    border-left: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    clear: both;
}
#container .widget_post_bit:first-child {
    border-top: 0 none;
    height:120px;
    background: #e4e4e4 none repeat scroll 0 0;
}


#container .widget_post_bit {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #c9c9c9;
    border-left: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    clear: both;
    padding:0px;
}
#container .widget_post_userinfo {
    margin: 0;
    padding: 1px 0;
    position: relative;
}
#container .widget_content {
    color: #424242;
}
#container .widget_post_comment {
    font-size: 12px;
    margin: 0 80px;
    font-weight: bold;
}
#container .widget_post_comment2 {
    font-size: 12px;
    display:table-row;
    font-weight: bold;
}
#container .widget_cell1{
    display: table-cell;
    min-width:50px;
    padding:5px;
}
#container .widget_cell2{
    display: table-cell;
    min-width:255px;
    border-left: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    padding:5px;
}
#container .widget_cell3{
    display: table-cell;
    padding:5px;
}
#container .widget_post_useravatar {
    left: 0;
    position: absolute;
    top: 5px;
}
#container .detail .widget_post_useravatar {
    left: 65px;
    position: absolute;
    top: 5px;
}
#container a {
    color: #b80c2c;
    font-weight: bold!important;
}
#container .widget_content a {

}
#container .widget_post_header {
    font: bold 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
    margin: 0;
    padding: 5px 0;
}
#container .widget_post_header a {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

#container .widget_content .meta {
    font-size: 11px;
}
#container .top img {
    max-height:75px!important;
}
#container .cms_widget .widget_post_useravatar img, #container .block .widget_post_useravatar img, #container .block .widget_post_useravatar_right img {
    max-height: 120px;
    width: 75px;
    min-width: 75px;
    padding-right:5px;
}
#container .blockrow.player_row {
    display: none;
}
#container .blockrow.player_row .widget_content {
    height: 120px;
}
#container #player1_0 .widget_content .avatar{
    float: left;
    width: 120px;
    height: 120px;
}
#container #player1_0 .widget_content .avatar img, #container #player2_0 .widget_content .avatar img{
    height:120px;
    max-width:120px;
}
#container #player2_0 .widget_content .avatar{
    float: right;
    width: 120px;
    height: 120px;
}
#container #player1_0 .widget_content .memberinfo {
    font-size: 20px;
    font-weight: bold;
    background: #1c387f none repeat scroll 0 0;
    margin-left: 120px;
    height: 75px;
    color: #fff;
    margin: 0;
    padding-top: 45px;
}
#container #player2_0 .widget_content .memberinfo {
    font-size: 20px;
    font-weight: bold;
    background: #1c387f none repeat scroll 0 0;
    margin-right: 120px;
    height: 75px;
    color: #fff;
    margin: 0;
    padding-top: 45px;
}
#container .blockrow.player_row.grey {
    background: #e4e4e4 none repeat scroll 0 0!important;
    margin: 5px 0!important;
    padding: 0!important;
    padding: 2px solid!important;
    border: 2px solid!important;
}
#container .blockrow.player_row.grey>div {
    float: left;
    padding: 6px 0;
    text-align: center;
    width: 33%;
}
#container .black {
    background: #000;
}

#container .widget_post_useravatar_right{
    right:0px;
    float:right;
    margin-top:5px;
}
#container .widget_post_bit:first-child .meta{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    font-family: tahoma;

}
#container .detail .top {
    border-top: 0 none;
    height:80px;
    background: #e4e4e4 none repeat scroll 0 0;
}
#container .detail .ntop {
 /*   background: #fff none repeat scroll 0 0!important;*/
    border-bottom: 2px solid #c9c9c9;
    border-left: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    clear: both;
    height:auto!important;
}
#container .detail .ntop a{
    font-size: 12px!important;
    font-weight: bold;
}

/*Fix memberleaderboad css */
#container .detail .widget_post_bit:first-child .meta {
    font-size: 50px!important;
}
#container .widget_post_bit:first-child .meta {
    text-align: center!important;
}
@media (min-width: 767px){
    #container .detail .widget_post_bit:first-child {
        /*padding-left : 8%;*/
        }
}
#container .widget_post_comment2 .widget_post_useravatar1 img {
    max-width: 60px;
    max-height: 60px;
}

.ranker-info .r-i-brif .c-i-col span  a, .rank-list-row .ranker-points a{
    color: #337ab7;
    text-decoration: underline;
}
